build-essential
ffmpeg
libboost-system-dev
libboost-thread-dev
libboost-program-options-dev
libboost-test-dev
libbz2-dev
libeigen3-dev
libfreetype6
liblzma-dev
libsndfile1
libssl-dev
libopenblas-dev
libsox-fmt-mp3
sox
zlib1g-dev
wget
curl
unzip
libsm6
libxext6
gnupg
nginx