addict==2.4.0
anyconfig==0.9.10
astroid==2.5.2
ccimport==0.4.2
colored==1.4.4
cumm-cu114==0.2.8
easydict==1.10
faiss-cpu==1.7.2 # TODO: faiss-gpu works better in some cases
fire==0.5.0
flake8==6.0.0
gdown==4.6.4
hydra-core==1.2.0
imgaug==0.4.0
imageio==2.26.0
isort==4.2.5
lark==1.1.5
lazy-import==0.2.2
lazy_object_proxy==1.5.1
lazy_loader==0.1
librosa==0.10.0
lmdb>=1.4.0
matplotlib==3.7.1
mccabe==0.7.0
mypy==1.1.1
mypy-extensions==1.0.0
natsort==8.3.1
ninja==1.11.1
nltk==3.8.1
https://files.pythonhosted.org/packages/02/99/ca518644076d372509d9dff13e85072e65fba273c42da79a344f55bbad48/nvidia_eff-0.6.4-py38-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://files.pythonhosted.org/packages/d1/c2/c14dd8884a5bc05ca07331b3d78a92812eb19e25a625a0b59af8b609a93f/nvidia_eff_tao_encryption-0.1.7-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
numpy==1.22.2 # TODO: Update np.float to np.float64 in the coming numpy version
omegaconf==2.2.2
# Install onnx-graphsurgeon with extra-index-url
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon
onnx-simplifier==0.4.5
onnxoptimizer==0.3.8
onnxruntime>=1.7.0<=1.11.1
onnxsim==0.4.17
opencv-python==4.5.5.64
pccm==0.4.6
Polygon3==3.0.8
pyarmor==7.7.4
pyclipper==1.1.0.post3
pycocotools-fix==2.0.0.9
pycodestyle==2.10.0
pycuda==2022.2.2
pycodestyle==2.10.0
pyDeprecate<0.4.0,>=0.3.1
pydocstyle==3.0.0
pyflakes==3.0.1
pylint==2.2.2
pynini==2.1.5
pyquaternion==0.9.9
PyWavelets==1.4.1
PyYAML==6.0
rich==13.3.2
scikit-image==0.19.3
shapely==1.8.2
soundfile==0.12.1
spconv-cu114==2.1.21
tabulate>=0.9.0
tensorboardX==2.6
terminaltables==3.1.0
tifffile==2023.2.28
transformers>=4.8.2
tokenizers==0.10.3
ujson==5.5.0
unidecode==1.2.0
wget==3.2
wrapt>=1.11, <1.13.0
yapf==0.32.0
