build-essential
curl
ffmpeg
gnupg
libboost-program-options-dev
libboost-system-dev
libboost-test-dev
libboost-thread-dev
libbz2-dev
libeigen3-dev
libfreetype6
liblzma-dev
libopenblas-dev
libsm6
libsndfile1
libsox-fmt-mp3
libssl-dev
libturbojpeg-dev
libxext6
nginx
sox
unzip
wget
zlib1g-dev
