addict
anyconfig
astroid==2.5.2
boto3
botocore
ccimport
click
colored
cumm-cu114
cutex
easydict
einops
faiss-cpu
fire
flake8==6.0.0
gdown
gradio
hydra-core==1.2.0
imgaug
imageio
isort
lark
lazy-import
lazy_object_proxy
lazy_loader
librosa
lmdb
matplotlib
mccabe
mypy
mypy-extensions
natsort
ninja
nltk
nvidia-eff
nvidia-eff-tao-encryption
numpy
omegaconf
# Install onnx-graphsurgeon with extra-index-url
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon
onnx-simplifier
onnxoptimizer
onnxruntime
onnxsim
opencv-python==4.8.0.74
pccm
pillow==9.5.0
Polygon3
protobuf
pyarmor
pyclipper
pycocotools==2.0.6
pycodestyle==2.10.0
pycuda
pyDeprecate
pydocstyle==3.0.0
pyflakes
pylint==2.2.2
pynini==2.1.5
pyquaternion
pyrr
PyWavelets
PyYAML
rich
scikit-image
shapely
soundfile
spconv-cu114
tabulate
tensorboardX
terminaltables
tifffile
# Upgrading transformer due to an error with importlib version checks.
transformers
tokenizers
# Same issue with tqdm.pip
tqdm
ujson
unidecode
wandb
wget
wrapt
yapf
# updating base py packages versions to resolve oss vulnerabilities
starlette
python-multipart
fastapi
pyarrow==14.0.1